[DEFAULT]
technology_depreciation_rate = 0.02

[COUNTRY_1]
initial_population = 3000000
initial_technology = 1.2
resources = 5000000
population_growth_rate = 0.01
investment_in_technology = 0.03
education_level = 0.8
healthcare_investment = 0.05
resource_depletion_rate = 0.05

[COUNTRY_2]
initial_population = 10000000
initial_technology = 0.6
resources = 10000000
population_growth_rate = 0.02
investment_in_technology = 0.04
education_level = 0.5
healthcare_investment = 0.03
resource_depletion_rate = 0.08